
/*--------------------------------------------------------Colours-------------*/

.color-home {
    background-color: #8D8E88;
}

.color-music {
    background-color: #C70039 ;
}


underline { text-decoration: none;
}

.color-hire-us {
    background-color: #E65100;
}

.color-gallery {
    background-color: #FBC02D;
}

.color-text-home {
    color: #FFFFFF;
}


text-center {padding-top 70px;}



/*list inline
social links*/



.social-section {
    font-weight: 500;
    color: #595E62;
    text-align: center;
    font-size: 18px;
    padding-top: 44px;
    padding-bottom: 22px;
}


.social-links {
    padding-bottom: 5px;
    text-align: center;
    padding-left: 40px;
}

.social-links li a i {
    width: 52px;
    height: 52px;
    padding: 21px 0;
    border-radius: 50%;
    font-size: 40px;
    line-height: 5px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}





/*-------------------------------------- Remove HTML-----------------*/
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
  list-style: none; 
  text-transform: uppercase;

}



li {
  background-color: #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 0px;
}
/*-----------------------------------------------------Header-----------------*/

#content {
    text-align:center;
}

.menuitem {
  
}
 

.menuitem a {
    text-decoration: none;
    color: #7B8D32;
}

.menuitem span {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 180px;
  
    line-height: inherit;
    
    color: #FFFFFF;
}
/*-------------------------------------------------------------Home Content---*/
.fan-club-img {
    max-width: 100%;
    line-height: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
}


.col-lg-12 {
     line-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}


.col-lg-6 {
     line-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}


col-lg-8 {
 
    padding-left: 60px;
}


.px-2 {
  padding-left: ($spacer * .5) !important;
}

.navbar-default {color: white;
}


.navbar {background-color: #E65100 ;
}

.navbar-text {color:#FFFFFF;
}



/*------------------------------------------------------------Main Content---*/

p, a {
  text-decoration: none;
  -webkit-text-decoration-color: #E18728;
  text-decoration-color: #E18728; 
 }

a:visited {
  -webkit-text-decoration-color: #94530D;
  text-decoration-color: #94530D; 
}

a:hover { 
  -webkit-text-decoration-color: ;
  text-decoration-color: #28B1E1; 
}


/*----------------------------------------------------------Hire Us Content---*/

/*----------------------------------------------------------Gallery Content---*/

/*---------------------------------------------------------Thank-you----------*/

/*----------------------------------------------------------------Footer------*/

/*------------------------------------------------------------Buttons --------*/


.btn-danger {
    background-color:  #8D8E88;
}

.btn-success {
    background-color:   #C70039;
}


.btn-primary {
    background-color:   #E65100;
}

.btn-info {
    background-color:   #FBC02D;
}

/*---------------------------------------------------------Media Queries------*/

@media(min-width: 768px) 

@media(min-width: 992px) 


.with-gutters {
  margin-right: 0;
  margin-left: 30px;



/*nav*/

.navbar {
    background-color:   #E65100;
}

.navbar-light {
    background-color:   #E65100;
}
.bg-light{
    background-color:   #E65100;
}

